# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat=2.3

print(numberFloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1= 2
num2=5.4

result= num1+ num2

print(result)

7.4

##### Subtraction

In [8]:
result_diff = (num2 -num1)
print(result_diff)

3.4000000000000004

##### Multiplication

In [9]:
result_mul= num1 * num2

print(result_mul)

result_mul *= 2

10.8

##### Division

In [11]:
result_div = num2/ num1

print(result_div)

2.7

##### Floor Division

In [2]:
result_floor = 5  // 2

print(result_floor)

2

##### Modulo

In [9]:
result_mod = 17 % 6

print(result_mod)

5

##### Exponential

In [16]:
square = 5 ** 2

print(square)

25

### String Input-Output

##### String Assignment

In [4]:
name = 'Martina'

print(name)

Martina

##### print() <br>
<p>Don't forget about end=' '</p>

In [50]:
print("This is my first name: " , name)

print ("full name: ", name, end=' Uzzas')

This is my first name:  Martina
full name:  Martina Uzzas

##### String Concatenation

In [52]:
first_name = 'Martina'
last_name = 'Uzzas'

full_name = first_name + ' ' + last_name

print(full_name)

Martina Uzzas

##### Type Conversion

In [53]:
number = '22'

change_type_num= int(number)

print(number)
print(change_type_num + 1)

22
23

##### input()

In [2]:
age = int(input("Whats is your age? "))

add_age = age + 5

print(add_age)

Whats is your age? 9
14

##### format()

In [5]:
age = input("What is you age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)

print(result_string)

result_again = f"{age} is a great time in !!"

What is you age? 9
You are 9 Martina and you are getting wiser!

##### Old Way (python 2)

In [64]:
result_string2 = "you are %s and you look great for your age" %age
print(result_string2)

you are 21 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [1]:
name_user = input ("Whats is your name? ")
color= input("What color is your car? ")
year=input("What year is your car? ")
make =input("Which make is your car?  ")
model=input("What model is your car? ")

result_car = f"{name_user} your {make} {year} {model}'s color is {color}"

print(result_car)

Whats is your name? Martina
What color is your car? blue
What year is your car? 2021
Which make is your car?  Volvo
What model is your car? X40
Martina your Volvo 2021 X40's color is blue

### If Statements

In [7]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num1 == num2:
    print("Equal values")
else:
    print ("Not equal")
    
if num2 >= num1:
    print("num 2 is greater than num1")

Not equal
num 2 is greater than num1

##### 'is' keyword

In [26]:
num3 = 55
if num3 is 55:
    print("this is the exact number")

TypeError: argument of type 'int' is not iterable

##### 'in' keyword

In [15]:
char_name = "Frodo"
if "F" in char_name:
    print("F is in there")

F is in there

##### 'not in' keyword'

In [16]:
letter = "p"
if letter not in char_name:
    print("p in not in there")

p in not in there

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [23]:
name_user1= input("What is your name? ")


if 'p' or 'P' in name_user1:
    print("In your name there is the letter 'p'")
else:
    print("In your name there isn't the letter 'p'")

What is your name? paola
In your name there is the letter 'p'

## Using 'and'/'or' with If Statements

In [14]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14= 3

if num_11 / 5 == num_12 and num_12 - 7 == num_14:
    print ("True and True")
    
if num_13 == num_14 or num_11 > num_12:
    print("False and True")

False and True

### Elif Statements

In [11]:
first_name = input("What is your name? ")

if first_name == "Smith":
    print("The name in Smith")
elif first_name == "Brandon":
    print("The name in Brandon")
elif first_name != "Max":
    print ("The name is not Max")
else:
    print("The name is Max")

What is your name? Martina
The name is not Max

### Else Statements

In [ ]:
# see above

### For Loops

In [25]:
name = "Martina uzzas"
a_list=[1, 2, 3, 4]

for i in a_list:
    print (i)

M
a
r
t
i
n
a

u
z
z
a
s

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [30]:
name ="Martina Uzzas"

for i in name :
    if i == "a":
        continue
    print(i)

M
r
t
i
n

U
z
z
s

##### Break Statement

In [ ]:
# will break out of current loop

In [31]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [32]:
name="Martina Uzzas"

for i in name:
    pass

##### Double For Loops

In [35]:
for i in range(5):
    for j in range(5):
        print ("i =", i, "j=", j)

i = 0 j= 0
i = 0 j= 1
i = 0 j= 2
i = 0 j= 3
i = 0 j= 4
i = 1 j= 0
i = 1 j= 1
i = 1 j= 2
i = 1 j= 3
i = 1 j= 4
i = 2 j= 0
i = 2 j= 1
i = 2 j= 2
i = 2 j= 3
i = 2 j= 4
i = 3 j= 0
i = 3 j= 1
i = 3 j= 2
i = 3 j= 3
i = 3 j= 4
i = 4 j= 0
i = 4 j= 1
i = 4 j= 2
i = 4 j= 3
i = 4 j= 4

### While Loops

In [ ]:
num = 0
while num < 10:
    print(num)
    num +=

##### Looping 'While True'

In [39]:
game_over = True

while game_over:
    print("Infinite loop")
    user_input = input("Would you like to stop? ")
    if user_input == "Yes":
        game_over = False

Infinite loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [42]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
    
    num += 1

While loop iteration: 0
For loop iteration:  1
For loop iteration:  2

While loop iteration: 1
For loop iteration:  1
For loop iteration:  2

While loop iteration: 2
For loop iteration:  1
For loop iteration:  2

While loop iteration: 3
For loop iteration:  1
For loop iteration:  2

While loop iteration: 4
For loop iteration:  1
For loop iteration:  2

### Built-In Functions

##### range()

In [43]:
for i in range(2, 20):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [47]:
name = input("Name of fav book")

length = len(name)

print (length)

Name of fav bookIl libro dei Baltimore
22

##### help()

In [48]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [11]:
num = 4.5
if isinstance (num,int):
    print(num, "is an int!")
else:
    print (num, "is a float!")

4.5 is a float!

##### abs()

In [51]:
print (abs(-5))

5

### Try and Except

In [55]:
try:
    input_num = int(input("Guess a number "))
    print("Your number is " + str(input_num))
          
except:
    print("Tha didn't work! Change you input to a number")

Guess a number o
Tha didn't work! Change you input to a number

### Lists

##### Declaring Lists

In [13]:
list_1 = []

names= ["Max", "Cindy", "Kathy", "bob", "nate"]
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'nate']

##### Indexing a List

In [15]:
print (names[1])

print(names[1:])

print(names[:3])

print (names[2::2])

print(names[1::-1])

Cindy
['Cindy', 'Kathy', 'bob', 'nate']
['Max', 'Cindy', 'Kathy']
['Kathy']
['Cindy', 'Max']

##### .append()

In [69]:
names.append("Martina")
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'nate', 'Martina']

##### .insert()

In [70]:
names.insert(2, "Kris")
print(names)

['Max', 'Cindy', 'Kris', 'Kathy', 'bob', 'nate', 'Martina']

##### .pop()

In [71]:
my_name = names.pop(2)
print(my_name)
print(names)

Kris
['Max', 'Cindy', 'Kathy', 'bob', 'nate', 'Martina']


##### .remove()

In [82]:
names.insert(1, "kris")
names.append("bob")
names.append("bob")

names.remove("bob")
print(names)

while "nate" in names:
    names.remove("nate")
print(names)

['Max', 'kris', 'kris', 'kris', 'Cindy', 'Kathy', 'nate', 'Martina', 'bob']
['Max', 'kris', 'kris', 'kris', 'Cindy', 'Kathy', 'Martina', 'bob']

##### del()

In [84]:
del(names[3])
print(names)

['Max', 'kris', 'kris', 'Kathy', 'Martina', 'bob']

##### Concatenating Two Lists

In [85]:
list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [88]:
names= ["Max", "Cindy", "Kathy", ["bob", ["Anne", "Csenge"], "nate"]]
    
print(names)
print(names[3][1][1])

['Max', 'Cindy', 'Kathy', ['bob', ['Anne', 'Csenge'], 'nate']]
Csenge

##### Looping Through Lists

In [90]:
for i in range(len(names)):
    print(names[i])

Max
Cindy
Kathy
['bob', ['Anne', 'Csenge'], 'nate']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [91]:
for i in range(0, 20):
    print (i, "'s cube is", (i **3))
    if (i**3)>= 1000:
        break

0 's cube is 0
1 's cube is 1
2 's cube is 8
3 's cube is 27
4 's cube is 64
5 's cube is 125
6 's cube is 216
7 's cube is 343
8 's cube is 512
9 's cube is 729
10 's cube is 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [2]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for Number in range (1, 101):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [3]:
age_user = int(input("How old are you? "))

if age_user < 18:
    print("Kids")
elif (age_user >= 18) and (age_user <= 65):
    print("Adults")
else:
    print("Seniors")

How old are you? 4
kids